html, body {
    margin: 0;
    padding: 0;
    background-color: #343A40;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #FFF;
}

section {
    padding-top: 50px;
}

input {
    border-color: #000;
    color: #FFF;
    background-color: #000000;
    padding: 10px;  
    border-radius: 5px;
    transition-duration: 0.5s;
}

input:hover {
    background-color: #FFF;
    color: #000;
    border-width: 2px;
    border-color:#000;
}

#fortnite-btn {
    position: relative;
}

#warzone-btn{
    position: relative;
}

#output {
    font-size: 72pt;

}